@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image:
        linear-gradient(135deg, rgba(250, 0, 0, 0.3), rgba(255, 161, 161, 0.3)),
        url("../assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    margin: 42px auto;
    max-width: 800px;
}

header h1 {
    text-align: center;
    font-weight: 700;
    line-height: 15px;
}

.social-icon {
    width: 32px;
}


.box {
    max-width: 800px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: #FFFFFF;
    margin: auto;
    margin-top: 24px;
    padding: 20px;

    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.8),
            rgba(135, 144, 152, 0.3));
}


.box h2 {
    text-align: center;
}


.box img {
    border-radius: 50%;
    width: 150px;
}


.profile {
    text-align: center;
}

.social-icons {
    list-style: none;
}

.social-icons li {

    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 58px;
}

footer {
    margin: 32px auto;
    max-width: 800px;
    font-size: 10pt;
    text-align: center;
}